<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help</title>
    {{!-- css file linking --}}
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <div>
      <section>{{>nav}}</section>
      <h1>Help</h1>
      <p>This is a weather website , so go to weather link from above and enter the desired location in the text-field to see the real-time weather data.</p><br>
      <p>Thank You!</p>
      <section>{{>footer}}</section>
    </div>
  </body>
</html>
