footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 10vh;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
}
